
.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: white;
}

.content{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.store-info {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.store-content{
    flex: 1 0 0;
    display: flex;
    justify-content: space-around;
}

.parking-layout {
    display: flex;
    flex: 1 0 0;
    justify-content: start;
    // background-color: #4c4c4c;
}
