<head>
  <meta charset="UTF-8" />
</head>
<div class="app-container">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="submenu">
      <div class="store-info">
        <h4 style="font-size: 45px; font-weight: bold; margin: 0">
          {{ store.storeName }}
        </h4>
        <h5 style="padding-top: 10px; margin: 0; opacity: 70%">
          Address: {{ store.storeAddress }}
        </h5>
      </div>

      <div class="buttons">
        <p-button
          label="Edit"
          variant="outlined"
          icon="pi pi-pen-to-square"
          iconPos="right"
          severity="info"
          (click)="updateStore()"
        />
        <p-button
          label="Remove"
          variant="outlined"
          icon="pi pi-trash"
          iconPos="right"
          severity="danger"
          (click)="removeStore()"
        />
        <p-button
          label="Back"
          variant="outlined"
          icon="pi pi-arrow-circle-left"
          iconPos="right"
          severity="secondary"
          (click)="goBack()"
        />
      </div>
    </div>

    <div class="tabs">
      <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">
                <i class="pi pi-objects-column"></i>
                <span class="font-bold whitespace-nowrap">Parking Occupancy</span>
            </p-tab>
            <p-tab value="1">
                <i class="pi pi-chart-bar"></i>
                <span class="font-bold whitespace-nowrap">Stats</span>
            </p-tab>
        </p-tablist>

      <p-tabpanels>
          <p-tabpanel value="0">
          <div class="parking-layout">
            <div id="svg-container"></div>
        </div>
      </p-tabpanel>

        <p-tabpanel value="1">   
          <div class="stats">
            <div style="height: 100px;" class="stats-buttons">
              <p-dropdown
                [options]="cities"
                [(ngModel)]="selectedCity"
                optionLabel="name"
                placeholder="Report Type"
                [showClear]="true">
              </p-dropdown>
              <button pButton class="p-button-outlined" label="Retrieve" icon="pi pi-cog" iconPos="right" severity="success" (click)="fetchReport()"></button>
            </div>
            <div class="stats-content">
              <!-- <p-chart
                  type="line"
                  [data]="data"
                  [options]="options"
                  style="height: 100%; width: 100%;"/> -->
            </div>
          </div>
        </p-tabpanel>

      </p-tabpanels>
    </p-tabs>
  
    </div>
  </div>
</div>
