<div class="app-container">
    <app-navbar></app-navbar>

    <div class="content">

        <div class="submenu">
            <h4 style="font-size: 45px; font-weight: bold; margin: 0">
                Store Overview
            </h4>
            <p-button label="New Store" variant="outlined" icon="pi pi-shop" iconPos="right" severity="success" (click)="createStore()"/>
        </div>

        <div class="tabs">
            <p-tabs value="0">

                <p-tablist>
                    <p-tab value="0">
                        <i class="pi pi-shop"></i>
                        <span class="font-bold whitespace-nowrap">Shops</span>
                    </p-tab>
                    <p-tab value="1">
                        <i class="pi pi-users"></i>
                        <span class="font-bold whitespace-nowrap">Customers</span>
                    </p-tab>
                    <p-tab value="2">
                        <i class="pi pi-chart-bar"></i>
                        <span class="font-bold whitespace-nowrap">Stats</span>
                    </p-tab>
                </p-tablist>
                
                <p-tabpanels>
                    <p-tabpanel value="0">
                            <div class="cards">
                                <div *ngFor="let store of stores">
                                    <p-card [style]="{
                                        width: '100%',
                                        height: '100px',
                                        position: 'relative',
                                        cursor: 'pointer'}" 
                                        (click)="navigateToStore(store.storeId)">
                                        <ng-template #title>{{ store.storeName }} </ng-template>
                                        <ng-template #subtitle>{{ store.storeAddress }} </ng-template>
                                    </p-card>
                                </div>
                            </div>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <div class="cards">
                            <div *ngFor="let customer of customers">
                                <p-card [style]="{
                                    width: '100%',
                                    height: '120px',
                                    position: 'relative',
                                    cursor: 'pointer'}">  
                                        <div>
                                            <div style="font-weight: bold; font-size: 16px;">
                                            <ng-container *ngIf="customer.firstName || customer.lastName; else noName">
                                                {{ customer.firstName || 'Unnamed' }} {{ customer.lastName || '' }}
                                            </ng-container>
                                            <ng-template #noName>
                                                <span style="font-style: italic; color: gray;">Full Name not provided yet!</span>
                                            </ng-template>
                                            </div>
                                            <div style="color: gray;">Username: {{ customer.username || 'Not set' }}</div>
                                            <div style="color: gray;">QR: {{ customer.uuid || 'Not set' }}</div>
                                            <div>
                                                Account: 
                                                <span [ngStyle]="{
                                                    color: customer.active ? 'green' : 'red',
                                                    fontStyle: 'italic'
                                                  }">
                                                  {{ customer.active ? 'Active' : 'Inactive' }}
                                                </span>
                                            </div>
                                        </div>
                                </p-card>
                            </div>
                        </div>
                    </p-tabpanel>
                    <p-tabpanel value="2">
                        <p class="m-0">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti
                            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                            provident, similique
                            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                            quidem rerum
                            facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                            cumque nihil
                            impedit quo minus.
                        </p>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>

        </div>

    </div>

</div>
