<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Chat
    </ion-title>
    <ion-buttons slot="end">
      <app-explore-container></app-explore-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-textarea
    placeholder="Ask your question..."
    [(ngModel)]="question"
    autoGrow="true">
  </ion-textarea>
  <ion-button expand="full" (click)="run()">Ask!</ion-button>
  <div [innerHTML]="answer" class="answer-container"></div>
</ion-content>
