<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Account</ion-title>
    <ion-buttons slot="end">
      <app-explore-container></app-explore-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Manage Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input [value]="accountData.username" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Membership</ion-label>
    <ion-input value="Gold" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input [(ngModel)]="accountData.firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input [(ngModel)]="accountData.lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="accountData.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input type="tel" [(ngModel)]="accountData.phoneNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="accountData.password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="updateAccount()" class="ion-margin-top">
    Save Changes
  </ion-button>
</ion-content>
